@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

header{
    background-color: #1f2937;

}

nav{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: bold;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 30px;
}

.title-content{
    max-width: 400px;
}

.header-image{
    width: 480px;
    height: 250px;
    background-color: darkgray;
    border-radius: 5px;
}

h1{
    color: #fff;
    font-weight: bolder;
    font-size: 48px;
}

.title-p{
    color: #fff;
    font-size: 18px;

}

button{
    background-color: #3882f6;
    color: #fff;
    padding: 7px 30px;
    border: none;
    border-radius: 8px;
    margin-block-start: 20px;
    font-weight: bold;
    font-size: 18px;
}