@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

header{
    background-color: #1f2937;

}

nav{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: bold;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 30px;
}

.title-content{
    max-width: 400px;
}

.header-image{
    width: 480px;
    height: 250px;
    background-color: darkgray;
    border-radius: 5px;
}

h1{
    color: #fff;
    font-weight: bolder;
    font-size: 48px;
}

.title-p{
    color: #fff;
    font-size: 18px;

}

button{
    background-color: #3882f6;
    color: #fff;
    padding: 7px 30px;
    border: none;
    border-radius: 8px;
    margin-block-start: 20px;
    font-weight: bold;
    font-size: 18px;
}

.random-container{
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h2{
    color: #1f2937;
    font-weight: bolder;
}

.card-container{
    display: flex;
    gap: 40px;
}

.card{
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: rgb(112, 112, 112);
}

.card-image{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;   
}

.quote-container{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
    max-width: 800px;

}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    font-weight: bolder;
    align-self: flex-end;
    font-size: 24px;
}

.action-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.action-content{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 30px;
    color: white;
    border-radius: 10px;
    width: 75vw;
}

.action-title{
    font-weight: bold;
    font-size: 24px;
}

.action-button{
    border: 2px solid white;
}

.footer{
    text-align: center;
    color: white;
    background-color: #1f2937;
    padding: 30px;
}
